@font-face {
    font-family: Comfortaa;
    src: url('../fonts/Comfortaa-Regular.eot');
    src: url('../fonts/Comfortaa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Comfortaa;
    src: url('../fonts/Comfortaa-Bold.eot');
    src: url('../fonts/Comfortaa-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Comfortaa;
    src: url('../fonts/Comfortaa-Thin.eot');
    src: url('../fonts/Comfortaa-Thin.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}