@import 'app/bower_components/foundation/scss/foundation/components/_panels';
@import 'app/bower_components/foundation/scss/foundation/components/_grid';
@import 'app/bower_components/foundation/scss/foundation/components/_icon-bar';
@import 'app/bower_components/foundation/scss/foundation/components/_buttons';
@import 'roboto';
@import 'comfortaa';



$orangeColor: #fea400;
$blueColor: #12b1cc;
$greenColor: #58b059;
$redColor: #d04b41;

$welcomeShoppingColor: $blueColor;
$welcomeTravelsColor: $orangeColor;
$welcomeOffersColor: $greenColor;
$navigationHeight: 45px;
$navigationPaddingVertical: 8px;
$navigationPadding: $navigationPaddingVertical 0;
$borderColor: #d9d9d9;
$shoppingColor: $blueColor;
$travelsColor: $orangeColor;
$offersColor: $greenColor;

$darkColor: #404951;

html, body, .main-container {
  min-height: 100%;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#welcome {
  height: 100%;
  color: white;

  p {
    font-weight: lighter;    
  }

  .slide {
    min-height: 100%;
    position: absolute;

    h1 {
      color: white;
      font-family: Comfortaa, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    h2 {
      color: white;
      text-transform: uppercase;
    }

    &.shopping {
      background-color: $welcomeShoppingColor;
      .submit {
        color: $welcomeShoppingColor;
      }
    }

    &.travels {
      background-color: $welcomeTravelsColor; 
      .submit {
        color: $welcomeTravelsColor;
      }
    }

    &.offers {
      background-color: $welcomeOffersColor;
      .submit {
        color: $welcomeOffersColor;
      }
    }
  }

  .submit {
    position: relative;
    background-color: white;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    width: 90%;
    left: 5%;
  }

  &.animate-left {
    .ng-enter, 
    .ng-leave
    { 
        -webkit-transition: 260ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -moz-transition: 260ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -ms-transition: 260ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -o-transition: 260ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        transition: 260ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    } 
     
    .ng-enter {
        left: 100%;
    }
    .ng-enter.ng-enter-active {
        left: 0;
    }
     
    .ng-leave {
      position: absolute;
      left: 0;
    }
    .ng-leave.ng-leave-active{
        left: -100%;
    }
  }

  &.animate-right {
    .ng-enter, 
    .ng-leave
    { 
        -webkit-transition: 260ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -moz-transition: 260ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -ms-transition: 260ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -o-transition: 260ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        transition: 260ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    } 
     
    .ng-enter {
        left: -100%;
        position: absolute;
    }
    .ng-enter.ng-enter-active {
        left: 0;
    }
     
    .ng-leave {
        left: 0;
    }
    .ng-leave.ng-leave-active{
        left: 100%;
    }
  }

  .image {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
  }

  .dots {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 40px;

    .dot {
      border-radius: 90px;
      width: 10px;
      height: 10px;
      display: inline-block;
      margin-left: 1px;
      margin-right: 2px;
      background: rgba(255, 255, 255, .70);

      &.selected {
        background: white;
      }
    }
  }
}

#login, #signup {
  overflow: hidden;
  background: url(../images/login_bg.jpg) center center no-repeat;
  background-size: cover;
  position: absolute;
  min-height: 100%;

  .beruby {
    text-align: center;
    display: block;
    margin: 20px auto;
  }

  .login-button {
    background-color: $orangeColor;
    text-transform: uppercase;
  }

  .signup-panel {
    font-weight: lighter;
    @include panel($bg: rgba(0, 0, 0, .60));
    @include radius(10px);
    text-align: center;
    display: block;
    margin: 10px 0;
  }
}

#signup {
  background-image: url(../images/signup_bg.jpg);
  
  label {
    color: white;
  }
}

.bottom-icon-bar {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  border-top: 1px solid $borderColor;

  @include icon-bar(
    $bar-bg: white,
    $bar-hover-color: none,
    $padding: $navigationPadding,
    $image-height: $navigationHeight,
    $image-width: auto
  );

  &.five-up .item {
    width: 20%;
  }
}

#beruby-header {
  text-align: center;
  background: $darkColor;
  overflow: hidden;

  .back {
    font-family: 'Comfortaa', Arial;
    color: white;
    font-size: rem-calc(40px);
    position: absolute;
    padding: 0 10px;
    left: 0;
  }

  img {
    height: 40px;
    margin: 10px 0;
  }

  .beruby-container {
    // display: inline;
    font-family: 'Comfortaa', Arial;
    font-size: rem-calc(40px);

    .start {
      color: white;
    }

    .end {
      color: #d70019;
    }

    .section {
      color: white;
      font-weight: lighter;
      font-size: rem-calc(20px);
    }
  }
}

#loading-bar {
  height: 3px;
  background: $redColor;
  width: 100%;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  from {transform: translateX(-100%);}
  to {transform: translateX(100%);}
}

#search {


  @media #{$small-only} { 
    .test{
    background-color:blue;
  }}

  form.search {
    padding: 10px 15px;
    background: #f1f1f1;

    input {
      margin: 0;
    }

    .button {
      background-image: url(../images/search_icon_60.png);
      background-size: auto 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: $redColor;
    }
  }

  .panel.tutorial {
    color: #3a87ad;
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
  }

  .panel.empty {
    color: #c09853;
    background: #fcf8e3;
    border: 1px solid #fbeed5;
  }
}

.widgets {
    margin: 0;

    a {
      display: block;
      text-decoration: none;
      color: $body-font-color;
      padding: 10px 10px 10px 10px;
      overflow: hidden;
      border-bottom: 1px solid #d8dde3;

      .info {
        padding-left: 10px !important;
        padding-top: 25px;
      }

      .logo{
        width: 80px;
      }

      p {
        margin: 0;

        &.name {
          font-weight: bold;

        }

        &.commission {
          font-weight: bold;
          font-size: 1rem;
        }
      }
    }
  }

#balance {
  .content {
  }

  .avatar {
    @include radius(60px);
    border: 2px solid white;
    box-shadow: 0 2px #ccc;
    background: #ccc;
  }

  .user-name, .total-balance {
    margin: 0;
  }

  .user-name {
  }

  .transactions-button {
    @include button($bg: $greenColor, $radius: true);
    text-transform: uppercase;
    width: 100%;
  }

  .total-balance {
    color: #5bae56;
    font-weight: lighter;
    font-size: 15px;

    span.total-amount {
      font-weight: bold;
    }
  }

  table {
    border: none;

    td, tr, th, thead {
      background: none;
    }

    th, td {
      text-align: center;
    }

    td {

    }
  }

  .promocode {
    word-break: break-all;
  }
}

.contains-navigation {
  padding-bottom: $navigationPaddingVertical * 2 + $navigationHeight + 20;
}

.logo {
  @include radius(10px);
  border: 1px solid $borderColor;
}

.alert-box.alert a {
  font-weight: bold;
  text-decoration: underline;
}

#show-widget {

  .alert-box {
    margin-top: rem-calc(26px);

    &.alert {
      background-color: #f2dede;
      border-color: #f2dede;
      color: #b94a48;

      img {
        margin: 0 auto;
        display: block;
        text-align: center;
      }
    }

    a {
      color: #6F2B2A;
    }
  }

  .content {
    font-weight: lighter;
  }

  .info {
    padding-left: 10px;

    p {
      font-size: rem-calc(14px);
      margin: 0;
      font-weight: lighter;
    }

    .name {
      font-size: 1rem;
      font-weight: normal;
    }

    .commission {
      margin-bottom: 10px;
    }
  }

  h3 {
    margin-top: 20px;
  }

  .earnings {
    margin-top: 20px;
    width: 100%;
    border: none;
  }
}

.visit-button {
  @include button($bg: $orangeColor, $radius: true);
  text-transform: uppercase;
  display: block;
  // background-color: white;
  //padding-bottom: 2rem;
}

.section-shopping {
  .commission {
    color: $shoppingColor;
  }

  .visit-button {
    @include button($bg: $shoppingColor, $radius: true);
    display: block;
  }
}

.section-travels{
  .commission {
    color: $travelsColor;
  }

  .visit-button {
    @include button($bg: $travelsColor, $radius: true);
    display: block;
  }
}

.section-offers{
  .commission {
    color: $offersColor;
  }

  .visit-button {
    @include button($bg: $offersColor, $radius: true);
    display: block;
  }
}

#category {
  .logo {
    width: 80px;
  }
}

.widgets-section {
  .categories {
    .category-container {
      border-bottom: 1px solid $borderColor;
    }

    .category {
      display: block;
      padding: 12px 10px;
      text-decoration: none;
      color: #FFF;
      font-size: 2rem;
      text-shadow: 2px 2px 5px #000000;
    }
  }
}
.visit_button{
  z-index: 1000; 
  position: fixed; 
  bottom: 43px; 
  width: 100%;
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0px -1px 5px #888888;
}
.logo_summary{
  float: left;
  margin: 1rem;
}


#transactions {
  .transaction {
    margin: 10px 0;

    .concept {
      vertical-align: middle;
    }

    .info {
      margin-top: 5px;
    }

    .date, .amount {
      font-weight: lighter;
    }

    .amount {
      color: $greenColor;

      &.negative {
        color: $redColor;
      }
    }
  }
}

.loading-balls {
  position: relative;
  width: 70px;
  display: block;
  margin: 0 auto;
  padding: 20px 0 60px 0;

  .ball {
    @include radius(60px);
    position: absolute;
    width: 20px;
    height: 20px;
  }

  .ball-1 {
    left: 10px;
    background: $redColor;
    animation: loadingBall1 2s ease-in-out infinite;
  }

  .ball-2 {
    right: 10px;
    background: $darkColor;
    animation: loadingBall2 2s ease-in-out infinite;
  }
}

@keyframes loadingBall1{
  0% {
    transform: translateX(0);
    z-index: 100;
  }

  50% {
    transform: translateX(30px);
  }

  60% {
    z-index: 10;
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes loadingBall2{
  0% {
    transform: translateX(0);
    z-index: 10;
  }

  50% {
    transform: translateX(-30px); 
  }

  60% {
    z-index: 100;
  }

  100% {
    transform: translateX(0);
  }
}