<div id="balance" class="contains-navigation">
	<ng-include src="'partials/header.html'"></ng-include>

	<br />
	<div class="content">
		<div class="row">
			<div class="small-3 columns">
				 <img ng-src="{{balance.avatarPath}}" class="avatar"
					ng-show="balance.avatarPath" />
			</div>
			<div class="small-9 columns">
				<p class="user-name">{{balance.userName}}</p>
				<p class="total-balance">
					{{balance.totalAmountText}}
					<span ng-bind-html="balance.totalAmount" class="total-amount"></span>
				</p>
			</div>
		</div>

		<br />
		<div class="row">
			<table class="small-12 columns" role="grid">
				<thead>
					<tr>
						<th></th>
						<th translate="balance.unconfirmed"></th>
						<th translate="balance.confirmed"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td translate="balance.direct"></td>
						<td ng-bind-html="balance.direct.unconfirmed"></td>
						<td ng-bind-html="balance.direct.confirmed"></td>
					</tr>

					<tr>
						<td translate="balance.network"></td>
						<td ng-bind-html="balance.network.unconfirmed"></td>
						<td ng-bind-html="balance.network.confirmed"></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="row">
			<div class="small-12 columns">
				<a ng-click="loadPath('/transactions');" class="transactions-button" translate="balance.transactions"></a>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<div translate="balance.share" style=" padding-bottom: 2rem;text-align: center;"></div>
			</div>
		</div>
		<div class="row">
			<div ng-click="open_fb();" class="small-4 columns" style="text-align:center;">
				<img style="height: 50px;" ng-src="images/fb_icon_100.png"  />
			</div>
			<div class="small-4 columns" style="text-align:center;">
				<a ng-href="http://twitter.com/share?url={{balance.promocode}}&text=Beruby" target="_blank"><img style="height: 50px;" ng-src="images/twitter_icon_100.png"/></a>
			</div>
			<div ng-click="open_ws();" class="small-4 columns" style="text-align:center;">
				<img style="height: 50px;" ng-src="images/whatsapp_icon_100.png" />
			</div>
		</div>
	</div>

	<ng-include src="'partials/navigation.html'"></ng-include>
</div>