<div id="category" class="contains-navigation section-{{category.section}}">
	<ng-include src="'partials/header.html'"></ng-include>

	<div class="widgets"
		infinite-scroll="fetchNextPage()" infinite-scroll-distance="1">

		<a class="row collapse widget" ng-click="loadPath('/widgets/{{widget.id}}?section={{category.section}}');" ng-repeat="widget in category.widgets">
			<div class="small-2 columns text-center logo-container" style="display:table;height: 60px;">
				<div style="display:table-cell; vertical-align:middle;">
					<img ng-src="http://es.beruby.com/{{widget.image_path}}" class="logo" />
				</div>
			</div>
			<div class="small-7 columns " style="display:table;height: 60px;padding-left:1rem;">
				<div style="display:table-cell; vertical-align:middle;">
					<p class="name">{{widget.name}}</p>
				</div>
			</div>
			<div class="small-3 columns " style="display:table;height: 60px;">
				<div style="display:table-cell; vertical-align:middle;text-align: right;">
					<p class="commission" ng-bind-html="widget.payment"></p>
				</div>
			</div>
		</a>

		<div class="loading-balls" ng-show="category.fetchingPage">
			<span class="ball ball-1"></span>
			<span class="ball ball-2"></span>
		</div>
	</div>

	<ng-include src="'partials/navigation.html'"></ng-include>
</div>