<div id="beruby-header" class="row collapse">
	<div class="small-12 columns">
		<a class="left back" ng-show="navigateBack &amp;&amp; platform === 'ios'" ng-click="header.back();" >&lt;</a>
		<span class="beruby-container">
			<span class="start">be</span><span class="end">ruby</span>
			<span class="section">{{header.section}}</span>
		</span>
	</div>

	<div id="loading-bar" ng-show="loading"></div>
</div>