<div id="login" class="row">
	<div id="loading-bar" ng-show="login.loading"></div>

	<div class="small-12 columns">
		<a href="#/">
			<img src="images/beruby_red.png" width="120" height="auto" class="beruby" />
		</a>

		<div ng-repeat="error in login.errors">
			<div data-alert class="alert-box alert round">
				<span ng-bind-html="'form.login_error' | translate"></span>
				<!-- <a href="#/login" class="close">&times;</a> -->
			</div>
		</div>

		<form ng-submit="login.submit();">
			<input ng-model="login.email" required type="email" placeholder="{{'form.email' | translate}}" />
			<input ng-model="login.password" required type="password" placeholder="{{'form.password' | translate}}" />
			<select ng-model="login.country" required>
				<option value="" translate="form.country"></option>
				<option ng-repeat="country in countries" value="{{country}}" translate="form.countries.{{country}}"></option>
			</select>

			<button type="submit" class="login-button expand" translate="form.enter" />
		</form>

		<a href="#/signup" ng-click='loadPath("/signup")' translate="form.no_account" class="signup-panel"></a>

		<a href="#/signup" ng-click='loadPath("/signup")' translate="form.signup" class="expand button"></a>
	</div>
</div>