<div class="bottom-icon-bar five-up">
	<a class="item search" ng-class="navigation.active" ng-click="loadPath('/search', true);">
		<img src="images/menu_search_100.png" ng-hide="navigation.active === 'search'" />
		<img src="images/menu_search_active_100.png" ng-show="navigation.active === 'search'" />
	</a>
	<a class="item shopping" ng-class="navigation.active" ng-click="loadPath('/widgets?section=shopping', true);">
		<img src="images/menu_shopping_100.png" ng-hide="navigation.active === 'shopping'"/>
		<img src="images/menu_shopping_active_100.png" ng-show="navigation.active === 'shopping'" />
	</a>
	<a class="item travels" ng-class="navigation.active" ng-click="loadPath('/widgets?section=travels', true);">
		<img src="images/menu_travels_100.png" ng-hide="navigation.active === 'travels'"/>
		<img src="images/menu_travels_active_100.png" ng-show="navigation.active === 'travels'" />
	</a>
	<a class="item offers" ng-class="navigation.active" ng-click="loadPath('/widgets?section=offers', true);">
		<img src="images/menu_offers_100.png" ng-hide="navigation.active === 'offers'"/>
		<img src="images/menu_offers_active_100.png" ng-show="navigation.active === 'offers'" />
	</a>
	<a class="item balance" ng-class="navigation.active" ng-click="loadPath('/balance', true);">
		<img src="images/menu_balance_100.png" ng-hide="navigation.active === 'balance'"/>
		<img src="images/menu_balance_active_100.png" ng-show="navigation.active === 'balance'" />
	</a>
</div>