<div id="search" class="contains-navigation">
	<ng-include src="'partials/header.html'"></ng-include>

	<form class="search row collapse" ng-submit="search.submit();">
		<div class="small-10 columns">
			<input type="text" name="query" ng-model="query" class="query" placeholder="{{'search.placeholder' | translate}}" />
		</div>
		<div class="small-2 columns">
			<input type="submit" ng-click="search.submit();" class="button postfix" value="" />
		</div>
	</form>

	<div class="widgets"
		infinite-scroll="fetchNextPage()" infinite-scroll-distance="2">

		<a class="row collapse widget" ng-click="loadPath('/widgets/{{widget.id}}');" ng-repeat="widget in search.widgets">
			<div class="small-2 columns text-center logo-container" style="display:table;height: 60px;">
				<div style="display:table-cell; vertical-align:middle;">
					<img ng-src="http://es.beruby.com/{{widget.image_path}}" class="logo" />
				</div>
			</div>
			<div class="small-7 columns " style="display:table;height: 60px; padding-left:1rem;">
				<div style="display:table-cell; vertical-align:middle;">
					<p class="name">{{widget.name}}</p>
				</div>
			</div>
			<div class="small-3 columns " style="display:table;height: 60px;">
				<div style="display:table-cell; vertical-align:middle;    text-align: right;">
					<p class="commission" ng-bind-html="widget.cashback"></p>
				</div>
			</div>
<!-- 



			<div class="small-2 columns text-center">
				<img ng-src="http://es.beruby.com/{{widget.image_path}}" class="logo" />
			</div>
			<div class="small-10 columns info">
				<p class="name">{{widget.name}}</p>
				<p class="commission" ng-bind-html="widget.payment"></p>
			</div> -->
		</a>





		<div class="loading-balls" ng-show="search.fetchingPage">
			<span class="ball ball-1"></span>
			<span class="ball ball-2"></span>
		</div>
	</div>

	<div class="row" ng-show="search.widgets.length === 0">
		<div class="small-12 columns">
			<br />
			<div ng-show="!search.empty &amp;&amp; !search.hideMessage" >
 				<div style="width: 100%; margin: 0 auto;">
					<!-- <img src="http://es.beruby.com/images/app/store_bg.jpg" onerror="this.src='images/blank.png'" style="width: 100%;""> -->
				</div>
				<div>
					
					<div id="transactions" class="contains-navigation" infinite-scroll="fetchNextPage()" infinite-scroll-distance="2">
						<div ng-repeat="homeWidget in homeWidgets" class="widgets" ng-show="!transactionsEmpty">
						
							<a class="row collapse widget" ng-click="loadPath('/widgets/{{homeWidget.id}}');">
								<div class="small-2 columns text-center logo-container" style="display:table;height: 60px;">
									<div style="display:table-cell; vertical-align:middle;">
										<img ng-src="http://es.beruby.com/{{homeWidget.image_path}}" class="logo" />
									</div>
								</div>
								<div class="small-7 columns " style="display:table;height: 60px; padding-left:1rem;">
									<div style="display:table-cell; vertical-align:middle;">
										<p class="name">{{homeWidget.name}}</p>
									</div>
								</div>
								<div class="small-3 columns " style="display:table;height: 60px;">
									<div style="display:table-cell; vertical-align:middle;text-align: right;">
										<p class="commission" ng-bind-html="homeWidget.payment"></p>
									</div>
								</div>
							</a>
						</div>
						
					</div>












				</div>
			</div>

			<br />
			<div class="panel empty" ng-show="search.empty" translate="search.empty">
			</div>
		</div>
	</div>


	<ng-include src="'partials/navigation.html'"></ng-include>
</div>