<div id="show-widget" class="contains-navigation section-{{widget.section}}">
	<ng-include src="'partials/header.html'"></ng-include>

	<div class="content">
		<br />
		<div class="row collapse" style="padding:0.9375rem;">
			<div  ng-show="widget.imagePath" class="logo_summary" >
				<img ng-src="http://es.beruby.com/{{widget.imagePath}}" class="logo" />
			</div>
			
				{{widget.summary}}
			
		</div>

		<br />
		<div class="row visit_button">
			<div class="small-12 columns">
				<a ng-click="visit();" translate="widget.visit"
					class="visit-button" ng-show="widget.name"></a>
			</div>
		</div>


		<div class="row" ng-show="widget.earnings.length > 0">
			<div class="small-12 columns">
			
				<table  ng-if="widget.type === 'sale'" class="earnings">
					<tr>
						<th translate="widget.concept"></th>
						<th translate="widget.cashback"></th>
					</tr>
					<tr ng-repeat="earning in widget.earnings">
						<td ng-bind-html="earning.concept"></td>
						<td ng-bind-html="earning.direct_earning"></td>
					</tr>
				</table>

				<table  ng-if="widget.type === 'no_sale'" class="earnings">
					<tr>
						<th translate="widget.concept"></th>
						<th translate="widget.direct_amount"></th>
						<th translate="widget.network_amount"></th>
					</tr>
					<tr ng-repeat="earning in widget.earnings">
						<td ng-bind-html="earning.concept"></td>
						<td ng-bind-html="earning.direct_earning"></td>
						<td ng-bind-html="earning.network_earning"></td>
					</tr>
				</table>
			</div>
		</div>

		<div class="row" >
			<div class="small-12 columns">
				<div data-alert class="alert-box warning radius">
				  <span translate="widget.warning"></span>
				</div>		
			</div>
		</div>

		<div class="row" ng-show="widget.particularConditions">
			<div class="small-12 columns">
				<h3 translate="widget.particular_conditions"></h3>
				<span ng-bind-html="widget.particularConditions"></span>
			</div>
		</div>

		<div class="row" ng-show="widget.products">
			<div class="small-12 columns">
				<h3 translate="widget.products"></h3>
				<span ng-bind-html="widget.products"></span>
			</div>
		</div>

		<div class="row" ng-show="widget.monetize">
			<div class="small-12 columns">
				<h3 translate="widget.monetize"></h3>
				<span ng-bind-html="widget.monetize"></span>
			</div>
		</div>

		<div class="row" ng-show="widget.related">
			<div class="small-12 columns">
				<h3 translate="widget.related"></h3>
				<span ng-bind-html="widget.related"></span>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>


	<ng-include src="'partials/navigation.html'"></ng-include>
</div>