<div id="signup" class="row">
	<div class="small-12 columns">
		<a href="#/">
			<img src="images/beruby_red.png" width="120" height="auto" class="beruby" />
		</a>

		<form ng-submit="signup.submit();">
			<input type="text" placeholder="{{'form.name' | translate}}" ng-model="signup.name"
				ng-class="{error: signup.errors.name}" />
			<small class="error" ng-show="signup.errors.name">{{signup.errors.name}}</small>

			<input type="email" placeholder="{{'form.email' | translate}}" ng-model="signup.email"
				ng-class="{error: signup.errors.email}" />
			<small class="error" ng-show="signup.errors.email">{{signup.errors.email}}</small>

			<input type="password" placeholder="{{'form.password' | translate}}" ng-model="signup.password"
				ng-class="{error: signup.errors.password}" />
			<small class="error" ng-show="signup.errors.password">{{signup.errors.password}}</small>

			<!-- <label for="user_birth_date" translate="form.birth_date"></label>
			<input type="date" id="user_birth_date" placeholder="{{'form.birth_date' | translate}}" ng-model="signup.birthDate"
				ng-class="{error: signup.errors.birth_date}" />
			<small class="error" ng-show="signup.errors.birth_date">{{signup.errors.birth_date}}</small>

			<select name="user[gender]" ng-model="signup.gender" required>
				<option translate="form.gender"></option>
				<option value="0" translate="form.man"></option>
				<option value="1" translate="form.woman"></option>
			</select> -->
			<select ng-model="signup.country" required>
				<option value="" translate="form.country"></option>
				<option ng-repeat="country in countries" value="{{country}}" translate="form.countries.{{country}}"></option>
			</select>

			<button type="submit" translate="form.signup" class="expand" />
		</form>
	</div>
</div>