<div id="transactions" class="contains-navigation" infinite-scroll="fetchNextPage()" infinite-scroll-distance="2">
	<ng-include src="'partials/header.html'"></ng-include>

	<div ng-repeat="transaction in transactions" class="transaction" ng-show="!transactionsEmpty">
		<div class="row">
			<div class="small-12 columns">
				<img class="image" ng-src="http://es1.beruby.com{{transaction.image}}" width="16px" />
				<span class="concept">{{transaction.concept}}</span>
			</div>
		</div>
		<div class="row info">
			<div class="small-6 columns date">{{transaction.date}}</div>
			<div class="small-6 columns text-right amount"
				ng-class="transaction.negative"
				ng-bind-html="transaction.amount"></div>
		</div>
	</div>

	<div class="row" ng-show="transactionsEmpty">
		<div class="small-12 columns">
			<br />
			<div class="panel" translate="transactions.empty">
			</div>
		</div>
	</div>

	<div class="loading-balls" ng-show="fetchingPage">
		<span class="ball ball-1"></span>
		<span class="ball ball-2"></span>
	</div>

	<ng-include src="'partials/navigation.html'"></ng-include>
</div>