<div id="welcome" class="row" ng-switch on="welcome.currentId" ng-class="[welcome.animate]"
	ng-swipe-right="welcome.swipeRight()"
	ng-swipe-left="welcome.swipeLeft()">
	
	<div class="text-center small-12 columns slide travels"
		ng-switch-when="1">
		<h1>beruby</h1>
		<img clasS="image" src="images/tutorial_travels.png" />

		<h2 translate="welcome.travels_title"></h2>
		<p translate="welcome.travels_phrase"></p>
		<div class="dots">
			<div class="dot"></div>
			<div class="dot selected"></div>
			<div class="dot"></div>
		</div>
		<button class="submit" ng-click="welcome.submit();" translate="welcome.start"></button>
	</div>

	<div class="text-center small-12 columns slide offers"
		ng-switch-when="2">
		<h1>beruby</h1>
		<img clasS="image" src="images/tutorial_offers.png" />

		<h2 translate="welcome.offers_title"></h2>
		<p translate="welcome.offers_phrase"></p>
		<div class="dots">
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot selected"></div>
		</div>
		<button class="submit" ng-click="welcome.submit();" translate="welcome.start"></button>
	</div>

	<div class="text-center small-12 columns slide shopping"
		ng-switch-default>
		<h1>beruby</h1>
		<img clasS="image" src="images/tutorial_shopping.png" />

		<h2 translate="welcome.shopping_title"></h2>
		<p translate="welcome.shopping_phrase"></p>
		<div class="dots">
			<div class="dot selected"></div>
			<div class="dot"></div>
			<div class="dot"></div>
		</div>
		<button class="submit" ng-click="welcome.submit();" translate="welcome.start"></button>
	</div>
 </div>