<div id="section-{{section.name}}" class="widgets-section contains-navigation">
	<ng-include src="'partials/header.html'"></ng-include>
		<div class="row">
			<ul class="categories small-block-grid-1 medium-block-grid-2 large-block-grid-3" style="width: 100%;padding: 0px;margin: 0px;">
				<li ng-repeat="category in section.categories" style="padding:0px;margin:0px;">
					<a class=""	ng-click="loadPath('/category?name={{category.name | encodeURIComponent}}&amp;section={{section.name}}&amp;url={{category.url | encodeURIComponent}}');">	
						<div class="categories row collapse" >
							<div class="small-6 columns " style="background-image: url('images/categories/{{category.name_id}}.jpg'); height: 10rem;width: 100%;background-size: cover;">
								<div style="position: absolute; bottom:0px;background-color: rgba(0,0,0,0.4);width: 100%" class="category">
									{{category.name}}
								</div>
							</div>
						</div>
					</a>
				</li>
			</ul>
		</div>	
</div>
<ng-include src="'partials/navigation.html'"></ng-include>